# OS
.DS_Store

# Compilation
__pycache__/
*.py[cod]

# Extensions
*.so

# Distribution
.Python
.env/
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Testing
.coverage
.coverage.*
.cache
*.cover

# Translations
*.mo
*.pot

# Logs
*.log

# IDE
.idea/

# Builds
dist
.tmp
.sass-cache
.webassets-cache
.db
